@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

* {
  animation: backgroundC 1 1s forwards ease-in-out;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Winky Rough", sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: -o-linear-gradient(225deg, #69208e, #f71746);
  background: linear-gradient(225deg, #69208e, #f71746);
  background: #f8f4ff;
  overflow: hidden;
}

@keyframes backgroundC {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  font-size: 35px;
  color: white;
  width: 80vh;
  text-align: center;
  background: -o-linear-gradient(225deg, #8e2064, #f71746);
  background: linear-gradient(225deg, #8e2064, #f71746);
  padding: 20px;
  border-radius: 120px;
  border: 2px solid;
  box-shadow: 0 0 20px 2px #fff5;
}
.credits {
  bottom: 5px;
  position: fixed;
  padding: 10px;
  width: 100%;
  text-align: center;
  a {
    background-color: #69208e;
    background-image: linear-gradient(45deg, #69208e, #f71746);
    color: white;
    border-radius: 120px;
    text-decoration: none;
    font-size: 17px;
    padding: 5px 10px;
    margin-left: 5px;
    background: linear-gradient(45deg, #69208e, #f71746);
    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite;
    display: inline-block;
    border: 2px solid transparent;
  }
  a:hover {
    animation-play-state: paused;
    background: #f71746;
    transition: all 0.3s ease-in-out;
    border: 2px solid #69208e;
  }
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
    box-shadow: 2px 2px 20px #8e206450;
    transform: scale(1.1) rotate(6deg);
  }
  25% {
    transform: scale(1) rotate(-6deg);
  }
  50% {
    transform: scale(1.1) rotate(6deg);
    background-position: 100% 50%;
    box-shadow: 0px 0px 20px #8e206450;
  }
  75% {
    transform: scale(1) rotate(-6deg);
  }
  100% {
    transform: scale(1.1) rotate(6deg);
    box-shadow: 2px 2px 20px #8e206450;
    background-position: 0% 50%;
  }
}
