/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Winky Rough", sans-serif;
  color: #131525;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* text-align: center; */
  /* padding: 2em; */
  /* background-color: #131525 ;
  color: white; */
  background-color: #ffffff;
  color: #131525;
  border: none;
  /* zoom: 1.2; 120% zoom */
}
body.reddish {
  background-color: #f8f4ff;
}
.container {
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  max-width: 90%; /* fallback for very small screens */
}

/* Extra small phones (≤575px) */
@media (max-width: 575px) {
  .container {
    max-width: 95%;
  }
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 420px;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 550px;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 650px;
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 730px;
  }
}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
  .container {
    width: 810px;
  }
}

.warnfulpage {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: "./cooked.jpg";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: black;
  video {
    /* width: 100%; */
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
  }

  h1 {
    color: white;
    font-size: 80px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100%;
  }
  p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    font-size: 40px;
    text-shadow: -1px -1px 0 black, /* Top-left shadow */ 1px -1px 0 black,
      /* Top-right shadow */ -1px 1px 0 black,
      /* Bottom-left shadow */ 1px 1px 0 black; /* Bottom-right shadow */
  }
}

.ending {
  color: White;
  font-size: 80px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body * {
  -webkit-animation: fade 3s 1 ease-in-out forwards;
  animation: fade 3s 1 ease-in-out forwards;
  opacity: 0;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  /* 50%{
    
    opacity: 0;
    
  } */
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  /* 50%{
    
    opacity: 0;
    
  } */
  100% {
    opacity: 1;
  }
}
img.logo {
  border-radius: 100%;
  border: 2px solid white;
  position: fixed;
  z-index: 2;
  width: 130px;
  height: 130px;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20px;
  left: 20px;
  -webkit-transition: all 0.5s 1 ease-in-out;
  -o-transition: all 0.5s 1 ease-in-out;
  transition: all 0.5s 1 ease-in-out;
  opacity: 1 !important;
}

body.unscroll {
  height: 100vh;
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;

  .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    -webkit-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
    .container {
      bottom: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      overflow: hidden;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      padding: 0;
    }
  }
}

/* .before {
  right: -100vw;
} */

h2 {
  /* background-color: #131525; */
  background: -o-linear-gradient(45deg, #69208e, #f71746);
  background: linear-gradient(45deg, #69208e, #f71746);

  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
}
ol {
  padding: 0 5px 0px 45px;
  font-size: 18px;
}

button {
  background: -o-linear-gradient(45deg, #69208e, #f71746);
  background: linear-gradient(45deg, #69208e, #f71746);
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  margin: 20px 0;
  padding: 10px 20px;
  cursor: pointer;
}

input {
  padding: 10px 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #69208e;
  width: 40ch;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
}

/* 
ahmed.samy.elsawy2008@gmail.com

*/

.emailcont p {
  padding: 10px;
}

body.dark {
  background-color: #131525;
}

.black {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #131525;
  top: 0;
  right: -100vw;
  z-index: 30;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* .black.activeblack {
  right: 0vw;
} */

.examContainer {
  height: 100%;
}

body .slide .examContainer .container {
  height: 100% !important;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body.scroll {
  height: auto !important;
  overflow-y: auto;
  overflow-x: hidden;
}

#timer {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: red;
  z-index: 999;
}

.disabled {
  opacity: 0.5 !important;
  cursor: not-allowed;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

#warnerror {
  color: #f71746;
  opacity: 1;
  padding: 10px;
  font-size: 18px;
}
#warnerror.hidden {
  opacity: 0;
  margin: 0;
  padding: 0;
}

.notification {
  position: fixed;
  bottom: -80px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  background-color: #f71746;
  width: 60px;
  height: 60px;
  overflow: hidden;
  padding: 10px 17px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 120px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}

.notification span {
  font-size: 18px;
  color: white;
  text-align: center;
  width: 100%;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.notification img {
  width: 40px;
}

/* Animation In */
.notification.active {
  -webkit-animation: slideIn 1s forwards cubic-bezier(1, 0, 0, 1);
  animation: slideIn 1s forwards cubic-bezier(1, 0, 0, 1);
}

/* Animation Out */
.notification.inactive {
  -webkit-animation: slideOut 1s forwards cubic-bezier(1, 0, 0, 1);
  animation: slideOut 1s forwards cubic-bezier(1, 0, 0, 1);
}

@-webkit-keyframes slideIn {
  0% {
    bottom: -80px;
    width: 60px;
    opacity: 0;
  }
  50% {
    bottom: 80px;
    width: 60px;
    opacity: 1;
  }
  100% {
    bottom: 80px;
    width: 55ch;
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    bottom: -80px;
    width: 60px;
    opacity: 0;
  }
  50% {
    bottom: 80px;
    width: 60px;
    opacity: 1;
  }
  100% {
    bottom: 80px;
    width: 55ch;
    opacity: 1;
  }
}

@-webkit-keyframes slideOut {
  0% {
    bottom: 80px;
    width: 55ch;
    opacity: 1;
  }
  50% {
    bottom: 80px;
    width: 60px;
    opacity: 1;
  }
  100% {
    bottom: -80px;
    width: 60px;
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    bottom: 80px;
    width: 55ch;
    opacity: 1;
  }
  50% {
    bottom: 80px;
    width: 60px;
    opacity: 1;
  }
  100% {
    bottom: -80px;
    width: 60px;
    opacity: 0;
  }
}

iframe {
  opacity: 0 !important;
  display: none;
  border: none;
  /* height: 100vh; */
}
iframe.visible {
  opacity: 1 !important;
  display: block;
}

/*
.notification {
  position: fixed;
  bottom: 80px;
  right: 50%;
  transform: translateX(50%);
  background-color: #f71746;
  padding: 10px 17px 10px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 120px;
  align-items: center;
  span {
  font-size: 18px;
  color: white;
  }

img {
  width: 40px;
  margin-right: 10px;
}
}

*/
.countdown-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  z-index: 1000;
  border-top: 2px solid #00e0ff;
}

.countdown-bar {
  height: 6px;
  background-color: #00e0ff;
  -webkit-transition: width 1s linear;
  -o-transition: width 1s linear;
  transition: width 1s linear;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.bar-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 15px;
  background: #333;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}
.time-text {
  color: white;
}

#cameraPreview {
  position: fixed;
  bottom: 58px;
  right: 0px;
  width: 400px;
  height: 225px;
  border: 2px solid #00e0ff;
  border-radius: 16px 0px 0px 16px;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 99;
  background: black;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.grid-table {
  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  border: 1px solid #00e0ff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  sup {
    color: white;
    margin-bottom: 1ch;
  }
}

.grid-table div {
  padding: 10px;
  border-bottom: 1px solid #00e0ff;
  border-right: 1px solid #00e0ff;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  font-weight: bold;
  background-color: #333;
  color: #00e0ff !important;
}

.grid-table > :nth-child(3n) {
  border-right: none;
}

.grid-table > :nth-last-child(-n + 3) {
  border-bottom: none;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #00e0ff;
  border-radius: 10px;
  border: 2px solid #131525;
}

/* On hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #69208e;
} */

/* Arrow buttons (rarely shown anymore) */
::-webkit-scrollbar-button {
  display: none;
}

.scroll {
  h1 {
    color: #00e0ff;
    margin: 20px 10px;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid;
    font-size: 35px;
    text-align: center;
  }
}

.container:has(.periodic) {
  background-color: #131525;
}
.periodic {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .periodic {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .periodic {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .periodic {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .periodic {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .periodic {
    max-width: 1536px;
  }
}

.slide video {
  width: 100%;
}

.gap {
  height: 80px;
  position: relative;
  width: 100%;
}

.return {
  position: relative;
  background: #048a9c;
  color: #fff;
  border-radius: 120px;
  padding: 0 35px;
  height: 75px;
  border: 2px solid #1de5ff;
  box-shadow: 0 0 40px 0px rgb(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 40px 0px rgb(255, 255, 255, 0.5);
  font-size: 24px;
}

.unauthor .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
  overflow: hidden;
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 20px;
    margin: 20px;
  }
}

a {
  background-color: #69208e;
  background-image: linear-gradient(45deg, #69208e, #f71746);
  color: white;
  padding: 15px 25px;
  border-radius: 120px;
  text-decoration: none;
  font-size: 24px;
}

b {
  color: #f7173c;
  font-size: larger;
  text-transform: uppercase;
}

.credits {
  bottom: 5px;
  position: fixed;
  padding: 10px;
  width: 100%;
  text-align: center;
  a {
    font-size: 17px;
    padding: 5px 10px;
    margin-left: 5px;
  }
}
